---
import Portfolio from '../../layouts/Portfolio.astro';
---

<Portfolio active='projects'>
	<div class='main-container'>
		<main class='section-main glass'>
			<h1 class='section-title'>Projects</h1>
			<div class='posts-container'>posts</div>
		</main>
	</div>
	<div class='bg-images'>
		<img src='pista_iso_recta.webp' alt='Athletics track' class='bg-track-1' />
		<img src='grafo.webp' alt='Graph' class='bg-graph' />
	</div>
</Portfolio>
