---
import Portfolio from '../layouts/Portfolio.astro';
import ProjectSection from '../components/ProjectSection.astro';
---

<Portfolio active=''>
	<div class='content-container'>
		<header class='header' id='landing'>
			<div class='landing-img-container'>
				<img
					src='avatar-bg2.svg'
					alt='Blob avatar bg'
					class='landing__img-bg'
				/>
				<img src='personal-photo.webp' alt='Avatar' class='personal-img' />
			</div>
			<div class='main-text'>
				<h1 class='hero-title'>Ernesto Martínez</h1>
				<p class='hero-subtitle'>Data Scientist</p>
				<a class='button-1' href='#about'>See more</a>
			</div>
		</header>

		<!-- About -->
		<section class='about-section' id='about'>
			<h2 class='section-title'>About me</h2>
			<div class='about-content'>
				<div class='text-container'>
					<div class='about-main'>
						<p>
							I embarked on my programming adventure in 2020 as a
							<span class='text-yellow bold'>self-taught</span> Python enthusiast.
							Fueled by curiosity and a passion for technology, I've since broadened
							my expertise across software development, tackling personal projects
							in <span class='text-yellow bold'>data analysis</span>,
							<span class='text-yellow bold'>machine learning</span>, and <span
								class='text-yellow bold'>web technologies</span
							>.
						</p>
						<div class='about__img-container'>
							<img src='avatar-bg.svg' alt='Blob avatar bg' class='avatar-bg' />
							<img src='dibujo_pixar.webp' alt='Avatar' class='avatar-img' />
						</div>
					</div>
					<div class='about-subsection'>
						<h3>My Academic Journey</h3>
						<p>
							I'm currently furthering my education in Data Science at the
							<span class='bold text-yellow'
								>Polytechnic University of Valencia</span
							>. Here, my passion for self-improvement finds new challenges and
							opportunities for growth. My university journey is highlighted by
							my role in founding the <span class='bold text-yellow'
								>Sigma Data Club UPV</span
							>, leading the software and analysis section. This experience has
							not only allowed me to share my knowledge but also to engage with
							a community passionate about data science and innovation.
						</p>
					</div>
					<div class='about-subsection'>
						<h3>
							Track and Field: The Foundation of My Resilience and Teamwork
						</h3>
						<p>
							Parallel to my academic and technical endeavors, athletics has
							played a crucial role in developing my <span
								class='bold text-yellow'
								>resilience, discipline, and teamwork</span
							> abilities. Competing in <span class='bold text-yellow'
								>national-level track and field events</span
							> has taught me the value of perseverance, strategic planning, and
							collaboration, skills that I carry over into every aspect of my life.
						</p>
					</div>
				</div>
			</div>
		</section>
		<ProjectSection />
	</div>
</Portfolio>

<style></style>
