---
import Portfolio from '../layouts/Portfolio.astro';
---

<Portfolio active='landing'>
	<main class='hero-main'>
		<img src='/portfolio/pista_start.png' alt='Track' class='hero-track-img' />
		<div class='main-section'>
			<img src='/portfolio/dibujo_pixar.png' alt='Avatar' class='avatar-img' />
			<div class='main-text'>
				<h1 class='hero-title'>Ernesto Martínez</h1>
				<p class='hero-subtitle'>Data Developer</p>
			</div>
		</div>
	</main>
</Portfolio>
